@page "/user/index"
@{
    ViewData["Title"] = "MessageSignalR";
    Layout = "../Shared/_Layout";
}
<div class="container">
    <h1 class="h3 mb-3">Messages</h1>
    <div class="row">
        <div class="col-12 col-lg-5 col-xl-3 border-right" style="overflow-y: auto">

            <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        <input type="text" class="form-control my-3" placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="list-group" id="userList">
            </div>
            
            

            <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-7 col-xl-9">
            <div><h1 id="FirstLoad"></h1></div>
            <div class="card" style="height:500px;display:flex;overflow-y:scroll;flex-direction: column-reverse;">
                <div class="list-group" id="messagesList">
                </div>
            </div>
            <div class="flex-grow py-3 px-4 border-top align-bottom ">
                <div class="input-group">
                    <input type="text" class="form-control" id="messageInput" placeholder="Type your message">
                    &nbsp;
                    <button class="btn btn-primary" id="sendButton">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Chat.js"></script>